extends ./layout.jade
block content

    .container
        h1= __("License Server Settings")
        p= __("Sometimes settings change, because I have to move licensing server from one server to another.")
        p
            strong= __("Current License Server settings are:")
        .well
            table.table(style='margin: 20px 0;')
                tr
                    th License server host
                    td 188.120.239.141
                tr
                    th License server port
                    td 80
        p= __("You can change these settings from:")
        .row(style='margin: 20px 0;')
            .col-sm-6
                img.img-responsive(src='/img/scr4.jpg')
            .col-sm-6
                img.img-responsive(src='/img/scr5.jpg',style='margin-top: 100px;')