doctype html
html(lang="en")
    head
        title='WhatsApp Number Registrator&Parser'
        script(type='text/javascript').
            if (foo) {
                bar(1 + 5)
            }
        link(href='/fw/bs/css/bootstrap.min.css', rel='stylesheet')
        link(href='/fw/style.css', rel='stylesheet')
        link(href='/fw/fa/css/font-awesome.min.css', rel='stylesheet')
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        i.fa.fa-whatsapp
                        |  WhatsAppTool
                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    ul.nav.navbar-nav
                        li
                            a(href='#modules') Modules
                        li
                            a(href='#bd') Buy
                        li
                            a(href='#bd') Download
                        li
                            a(href='#contact') Contact Me
        .color-container
            .container
                h1 WhatsApp Tool
                p A tool to parse WhatsApp hashes, to generate new or use existing WhatsApp and register a  or existing range of WhatsApp numbers
        .container
            .row
                .col-sm-12
                    h1.page-header#modules Modules
                    .row
                        .col-sm-12
                            h2 Parser
                            .col-sm-6
                                img.img-responsive(src='/img/scr1.jpg')
                            .col-sm-6
                                p Import phone numbers from a .txt file or generate them and check wether they were already registered with empty or specified password
                                h3 Features
                                ul
                                    li Ultra-fast multi-threaded parallel parsing
                                    li Ability to parse numbers registered with a password
                                    li Multiple API versions implemented. You can use the newest, oldest one or both of them
                                    li Ability to set a pause in order to avoid WhatsApp filtration
                                    li Export parsed numbers to CSV or TXT files, including parsed hashes
                    .row
                        .col-sm-12
                            h2 Registration
                            .col-sm-6
                                img.img-responsive(src='/img/scr2.jpg')
                            .col-sm-6
                                p Send verification SMS messages to all of the imported phone numbers and check recieved verification codes to get the hashes
                                h3 Features
                                ul
                                    li Batch verfification SMS sent
                                    li Batch verification codes submit
                                    li Ability to set a pause in order to avoid WhatsApp filtration
                                    li Ability to register numbers with a password
                                    li Instantly get hashes for numbers which verification codes were already submitted
                    .row
                        .col-sm-12
                            h2 Generator
                            .col-sm-6
                                img.img-responsive(src='/img/scr3.jpg')
                            .col-sm-6
                                p Generate range of phone numbers and send them to parser module or to text file
                                h3 Features
                                ul
                                    li Shuffle numbers to deflect WhatsApp attention away from you
                                    li Instantly send generated numbers to parser module
                                    li Save generated numbers to text file
            .row
                .col-sm-12
                    h1.page-header#bd Buy & Download
                    p Buy the license key and get access to full list of features
                    p
                        a(href='#contact') Contact me
                        |  to buy the license key

                    h3.text-center 230 USD / 210 EUR / 12 000 RUB

                    p(style='margin-bottom: 30px;') Or download free test version of the program
                    .col-sm-6.text-center
                        a.btn-lg.btn-success(href='#contact')
                            span.glyphicon.glyphicon-fire
                            |  Buy full version
                    .col-sm-6.text-center
                        a.btn.btn-info(href='/WhatsAppTool.exe',style='bottom: 4px;position: relative;')
                            span.glyphicon.glyphicon-save
                            |  Download free version
            .row
                .col-sm-12
                    h1.page-header#contact Contact
                    ul.list-group.contacts-list
                        li.list-group-item
                            i.fa.fa-skype.fa-2x
                            strong  slashman500
                        li.list-group-item
                            i.fa.fa-envelope-square.fa-2x
                            a(href='mailto:andzhilin@gmail.com')
                                strong  andzhilin@gmail.com






