doctype html
html(lang="en")
    head
        title WhatsApp Tools
        link(href='/fw/bs/css/bootstrap.min.css', rel='stylesheet')
        link(href='/fw/style.css', rel='stylesheet')
        link(href='/fw/fa/css/font-awesome.min.css', rel='stylesheet')
        link(href='/favicon.ico',rel='shortcut icon',type='image/x-icon')
    body
        #wrap
            nav.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#')
                            i.fa.fa-whatsapp
                            | WhatsApp Tools
                    .collapse.navbar-collapse#bs-example-navbar-collapse-1
                        ul.nav.navbar-nav
                            li
                                a(href='/#modules') Modules
                            li
                                a(href='/#bd') Buy
                            li
                                a(href='/#bd') Download
                            li
                                a(href='/#contact') Contact Me
                        ul.nav.navbar-nav.pull-right
                            li.pull-right
                                a(href='/apiSettings')
                                    i.fa.fa-cog
                                    |  Current settings
            #main
                block content
        .color-container#footer
            .container.text-center
                h1.fa.fa-whatsapp.fa-4x(style='text-align:center;margin: 0;')
