.navbar {
  margin-bottom: 0;
}
.color-container {
  position: relative;
  color: #cdbfe3;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #006801;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#003801), to(#006801));
  background-image: -webkit-linear-gradient(top, #003801 0, #006801 100%);
  background-image: -o-linear-gradient(top, #003801 0, #006801 100%);
  background-image: linear-gradient(to bottom, #003801 0, #006801 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003801', endColorstr='#006801', GradientType=0);
  background-repeat: repeat-x;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  text-align: left;
}
.color-container h1 {
  margin-top: 0;
  color: #fff;
}
.contacts-list li i.fa-skype {
  color: #008eb9;
}
.contacts-list li i.fa-envelope-square {
  color: #960004;
}
.contacts-list li strong {
  bottom: 4px;
  left: 10px;
  position: relative;
  font-size: 14pt;
}
